[submodule "criu"]
	path = criu
	url = https://github.com/checkpoint-restore/criu.git
[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
[submodule "tests/targets/live555"]
	path = tests/targets/live555
	url = git@github.com:derpsteb/live555.git
[submodule "tests/targets/LightFTP"]
	path = tests/targets/LightFTP
	url = git@github.com:derpsteb/LightFTP.git
[submodule "tests/targets/dcmtk"]
	path = tests/targets/dcmtk
	url = git@github.com:derpsteb/dcmtk.git
[submodule "tests/targets/kamailio"]
	path = tests/targets/kamailio
	url = git@github.com:derpsteb/kamailio.git
[submodule "tests/targets/pjproject"]
	path = tests/targets/pjproject
	url = git@github.com:derpsteb/pjproject.git
