[submodule "criu"]
	path = criu
	url = https://github.com/checkpoint-restore/criu.git
[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
[submodule "tests/targets/live555"]
	path = tests/targets/live555
	url = git@github.com:derpsteb/live555.git
[submodule "tests/targets/LightFTP"]
	path = tests/targets/LightFTP
	url = git@github.com:derpsteb/LightFTP.git
[submodule "tests/targets/dcmtk"]
	path = tests/targets/dcmtk
	url = git@github.com:derpsteb/dcmtk.git
[submodule "tests/targets/kamailio"]
	path = tests/targets/kamailio
	url = git@github.com:derpsteb/kamailio.git
[submodule "tests/targets/pjproject"]
	path = tests/targets/pjproject
	url = git@github.com:derpsteb/pjproject.git
[submodule "fitm-qemu/FitM-qemu"]
	path = fitm-qemu/FitM-qemu
	url = git@github.com:fgsect/FitM-qemu.git
[submodule "tests/targets/tsclientlib"]
	path = tests/targets/tsclientlib
	url = git@github.com:ReSpeak/tsclientlib.git
[submodule "tests/targets/msmtp-mirror"]
	path = tests/targets/msmtp-mirror
	url = https://github.com/MMunier/msmtp-mirror
