/target
Cargo.lock
.idea
*.out
*.o
qemu-x86_64
*.d
self-dump
*/tmp/*
rpc.*
states/
in/
out/
active-state/
saved-states/
pseudoclient
pseudoserver
venv
config.mak
restore.sh

fdinfo
file
tests/targets/snapshot_creation
fitm-qemu-trace

cmin-tmp/
tests/targets/pseudoclient_simple
tests/targets/pseudoserver_simple
dump
criu_stderr
criu_stdout
debug